<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
    <vendor>MatrixAI</vendor>
    <vendor_url>https://matrix.ai</vendor_url>
    <action id="ai.matrix.pkexec.privilege-elevation.open-serial-device">
        <message>Authentication is required to to open serial device for Privilege Elevation Program. (user=$(user), program=$(program), command_line=$(command_line))</message>
        <defaults>
            <allow_any>no</allow_any>
            <allow_inactive>no</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">MECHANISMS_PATH/open-serial-device</annotate>
    </action>
</policyconfig>
